.contact{
    display: flex;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.267);
    border-radius: 20px;
}

.information{
    flex: 1;
    background-color: rgb(18, 110, 18);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form{
    flex: 2;
    background-color: white;
    padding: 20px;
}

.individual-contact{
    display: flex;
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.contact-infos-title{
    margin-left: 10px;
}

.contact-infos{
    font-weight: 600;
    margin-bottom: 10px;
}

.form input{
    width: 47%;
    height: 40px;
}

.last-input{
    min-width: 100%;
    margin-top: 10px;
}

textarea{
    width: 100%;
    margin-top: 20px;
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
    border-radius: 10px; 
    background-color: rgb(18, 110, 18);
    width: fit-content;
    margin: auto;
    color: white;
}

